# streamlit
# scipy==1.11.3
# gensim==4.3.2
# tensorflow
# scikit-learn
# numpy
# pandas
# joblib
# folium
# geopy
# streamlit-folium
# xgboost







streamlit>=1.26.0
scikit-learn
tensorflow
folium
streamlit-folium
joblib
numpy
gensim
geopy


